baseURL: https://www.sdj.pw/
languageCode: en-gb
title: Magento Blog - SDJ.PW
description: Welcome to SDJ.PW, my technical blog. That covers topics from DevOps/SRE tasks to Magento Development and everything in between.
theme: ["PaperMod"]

enableRobotsTXT: true
buildDrafts: true
buildFuture: true
buildExpired: true

minify:
 disableXML: false
 minifyOutput: false

params:
  env: development
  author: Me
  DateFormat: "January 2, 2006"
  defaultTheme: auto # dark, light
  disableThemeToggle: false
  ShowReadingTime: true
  ShowShareButtons: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: true
  ShowWordCount: true
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false
  ShowFullTextinRSS: true

  assets:
    favicon: "assets/favicon.png"
    favicon16x16: "assets/favicon.png"
    favicon32x32: "assets/favicon.png"
    apple_touch_icon: "assets/favicon.png"
    safari_pinned_tab: "assets/favicon.png"

  label:
    text: "SDJ.PW"
    icon: /assets/apple-touch-icon.png
    iconHeight: 35

  description: "Magento Blog - SDJ.PW "

  profileMode:
    enabled: false

  homeInfoParams:
    Title: "Making Magento Do Things Adobe Never Intended"
    Content: "DevOps/SRE/Platform Engineering with a side of questionable architectural decisions"

  socialIcons:
    - name: Stackoverflow
      url: "https://stackexchange.com/users/14067660/sam?tab=accounts"
    - name: Github
      url: "https://github.com/samjuk"
    - name: Linkedin
      url: "https://www.linkedin.com/in/samjuk/"
    - name: RSS
      url: "https://www.sdj.pw/index.xml"

  cover:
    hidden: true # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: true # hide on single page

  editPost:
    URL: "https://github.com/samjuk/sdj.pw/edit/master/content"
    Text: "Suggest Changes" # edit text
    appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    limit: 10 # refer: https://www.fusejs.io/api/methods.html#search
    keys: ["title", "permalink", "summary", "content"]

menu:
  main:
    - identifier: about
      name: About Me
      url: /about/
      weight: 10
    - identifier: tags
      name: Tags
      url: /tags/
      weight: 20
    - identifier: search
      name: Search
      url: /search/
      weight: 30
    - identifier: docs
      name: Docs
      url: https://docs.sdj.pw
      weight: 35

outputs:
  home:
    - HTML
    - JSON
    - RSS
