.edit-cta-block {
  border-radius: var(--radius);
  background: #f6f6f6;
  border: 1px solid var(--border);
  padding: 1em;
  margin-top: 3em;
}

.dark .edit-cta-block {
  background: rgb(36 37 40);
}

.edit-cta-block a.pink {
  font-weight: 500;
}
