<script defer data-domain="sdj.pw" src="https://stats.sdj.pw/js/script.outbound-links.js"></script>


{{ if or (eq (string now.Month) "October") (and (eq (string now.Month) "November") (lt now.Day 2)) }}
    {{- partial "halloween/init.html" . -}}
{{ else if eq (string now.Month) "December" }}
    {{- partial "christmas/init.html" . -}}
{{ end }}


<script defer>
const searchInput = document.querySelector('#searchInput');
searchInput.value = (new URL(window.location.href)).searchParams.get('q');
const initSearchFromQuery = setInterval(function() {
    if (document.querySelector('.post-entry') !== null) {
        return clearInterval(initSearchFromQuery);
    }
    searchInput.dispatchEvent(new Event('keyup'));
}, 100);
</script>